{% extends "layout_moj.html" %}

{% block pageTitle %}
  {{ serviceName }} Prototype - service user
{% endblock %}

{% block main %}
  {% set serviceUsers = params.serviceUsers %}
  {% set query = params.query %}
  {% set serviceUser = '' %}
  {% set crn = 'undefined' %}
  {% if query.crn %}
    {% set crn = query.crn %}
  {% endif %}
  {% for user in serviceUsers %}
    {% if user.crn == crn %}
      {% set serviceUser = user %}
    {% endif %}
  {% endfor %}
  {% if serviceUser == '' %}
    <div class="govuk-width-container govuk-grid-row govuk-body">
      <div class="govuk-grid-column-full">
        {{ govukBackLink({
          text: "Back",
          href: "./new-allocations"
        }) }}
      </div>
      <div class="govuk-grid-column-full">
        Could not identify service user with crn {{ crn }}.
      </div>
    </div>
  {% else %}
    {% include "./partial/service-user-bar.njk" %}
    <div class="govuk-width-container govuk-grid-row govuk-body">
      <div class="govuk-grid-column-full">
        {{ govukBackLink({
          text: "Back",
          href: "./new-allocations"
        }) }}
      </div>
      <div class="govuk-grid-column-full">
        {% set tableHeadings = [
          { key: 'name', text: 'Name' },
          { key: 'grade', text: 'Grade' },
          { key: 'currentPercentage', text: 'Current %' },
          { key: 'remainingPoints', text: 'Remaining points' },
          { key: 'noOfCases', text: 'No of cases' },
          { key: 'lastAllocated', text: 'Date last allocated to' },
          { key: 'allocate', text: 'Allocate' }
        ] %}
        {% set probationPractitioners = params.probationPractitioners %}
        {% set tableRows = [] %}
        {% for probationPractitioner in probationPractitioners %}
          {% if showAllOM or probationPractitioner.currentPercentage < 100 %}
            {% set tableRow = [] %}
            {% for heading in tableHeadings %}
              {% if heading.key == 'allocate' %}
                {% set allocateButtonHtml %}
                  <div class="govuk-radios govuk-radios--small govuk-radios__item">
                    <input class="govuk-radios__input" id="allocate-OM" name="allocate-OM" type="radio" value="{{ probationPractitioner.id }}">
                    <label class="govuk-label govuk-radios__label" aria-label="Allocate to {{probationPractitioner.name}}" for="allocate-OM"></label>
                  </div>
                {% endset %}
                {% set tableRow = (tableRow.push({ html: allocateButtonHtml }), tableRow) %}
              {% else %}
                {% set tableRow = (tableRow.push({ text: probationPractitioner[heading.key] }), tableRow) %}
              {% endif %}
            {% endfor %}
            {% set tableRows = (tableRows.push(tableRow), tableRows) %}
          {% endif %}
        {% endfor %}
        {{ govukTable({
          head: tableHeadings,
          rows: tableRows
        }) }}
        {{ govukButton({
          text: "Allocate to selected officer",
            href: "service-user?crn="+crn,
          classes: "govuk-!-margin-right-1"
        }) }}
        {% if showAllOM %}
          {{ govukButton({
            text: "Only show suggested offender managers",
            href: "allocate?crn="+crn,
            classes: "govuk-button--secondary"
          }) }}
        {% else %}
          {{ govukButton({
            text: "View all offender managers",
            href: "allocate?crn="+crn+"&showAllOM=true",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}
      </div>
    </div>
  {% endif %}
{% endblock %}
