{% extends "layout_moj.html" %}

{% block pageTitle %}
  {{ serviceName }} Prototype - New allocations
{% endblock %}

{% block content %}
  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      {% set newIncomingCases_tableHeadings = [
        { key: 'name', text: 'Name' },
        { key: 'postcode', text: 'Postcode' },
        { key: 'probabtionStatus', text: 'Probabtion status' },
        { key: 'offence', text: 'Offence' },
        { key: 'tier', text: 'Tier' },
        { key: 'receivingFrom', text: 'Receiving from' },
        { key: 'daysSinceSentence', text: 'Days since sentence' },
        { key: 'sentenceStart', text: 'Sentence start' }
      ] %}
      {% set serviceUsers = params.serviceUsers %}
      {% set bannerText %}
        <span style="float:left"><span id="todaysDate"></span> - {{ serviceUsers.length }} Unallocated cases</span>
        <span style="float:right">Last updated <span id="passedDate"></span></span>
      {% endset %}
      {{ mojBanner({
        type: 'information',
        html: bannerText,
        iconFallbackText: 'information'
      }) }}
      {% set newIncomingCases_tableRows = [] %}
      {% for user in serviceUsers %}
        {% if user.currentOM == "" %}
          {% set tableRow = [] %}
          {% for heading in newIncomingCases_tableHeadings %}
            {% if heading.key == 'name' %}
              {% set tableRow = (tableRow.push({ html: '<a href="./service-user?crn='+user.crn+'">'+user[heading.key]+'</a>' }), tableRow) %}
            {% else %}
              {% set tableRow = (tableRow.push({ text: user[heading.key] }), tableRow) %}
            {% endif %}
          {% endfor%}
          {% set newIncomingCases_tableRows = (newIncomingCases_tableRows.push(tableRow), newIncomingCases_tableRows) %}
        {% endif %}
      {% endfor%}

      {% set newIncomingCasesHtml %}
        {{ govukTable({
          head: newIncomingCases_tableHeadings,
          rows: newIncomingCases_tableRows
        }) }}
      {% endset -%}

      {% set allAllocatedCases_tableHeadings = [
        { key: 'name', text: 'SU Name' },
        { key: 'postcode', text: 'Postcode' },
        { key: 'tier', text: 'Tier' },
        { key: 'allocationDate', text: 'Allocation date' },
        { text: 'OM name' },
        { text: 'OM grade' }
      ] %}

      {% set allAllocatedCases_tableRows = [] %}
      {% for user in serviceUsers %}
        {% if user.currentOM != "" %}
          {% set currentProbationPractitioner = '' %}
          {% for probationPractitioner in probationPractitioners %}
            {% if probationPractitioner.id == user.currentOM %}
              {% set currentProbationPractitioner = probationPractitioner %}
            {% endif %}
          {% endfor %}
          {% if currentProbationPractitioner != "" %}
            {% set tableRow = [] %}
            {% for heading in allAllocatedCases_tableHeadings %}
              {% if heading.key == 'name' %}
                {% set tableRow = (tableRow.push({ html: '<a href="./service-user?crn='+user.crn+'">'+user[heading.key]+'</a>' }), tableRow) %}
              {% elseif heading.key %}
                {% set tableRow = (tableRow.push({ text: user[heading.key] }), tableRow) %}
              {% endif %}
            {% endfor%}
            {% set tableRow = (tableRow.push({ text: currentProbationPractitioner.name }, { text: currentProbationPractitioner.grade }), tableRow) %}
            {% set allAllocatedCases_tableRows = (allAllocatedCases_tableRows.push(tableRow), allAllocatedCases_tableRows) %}
          {% endif %}
        {% endif %}
      {% endfor%}

      {% set allAllocatedCasesHtml %}
        {{ govukTable({
          head: allAllocatedCases_tableHeadings,
          rows: allAllocatedCases_tableRows
        }) }}
      {% endset -%}

      {{ govukTabs({
        items: [
          {
            label: "New incoming cases",
            id: "new-incoming-cases",
            panel: {
              html: newIncomingCasesHtml
            }
          },
          {
            label: "All allocated cases",
            id: "all-allocated-cases",
            panel: {
              html: allAllocatedCasesHtml
            }
          }
        ]
      }) }}
    </div>
  </div>
  <script>
    const today = new Date()
    document.getElementById("todaysDate").innerHTML = (today.toLocaleDateString('en-GB', {day: "numeric", month: "long", year: "numeric"}));
    document.getElementById("passedDate").innerHTML = (new Date(today.setDate(today.getDate() - 5)).toLocaleDateString('en-GB', {day: "numeric", month: "long", year: "numeric"}));
  </script>
{% endblock %}
