{% extends "layout_moj.html" %}

{% block pageTitle %}
  {{ serviceName }} Prototype - probation practitioner
{% endblock %}

{% block content %}
<div class="govuk-width-container govuk-grid-row govuk-body">
  <div class="govuk-grid-column-full">
    {{ govukBackLink({
      text: "Back",
      href: data.back
    }) }}
  </div>
  {% if not probationPractitioner %}
      <div class="govuk-grid-column-full">
        Could not identify probation practitioner with id {{ id }}.
      </div>
    </div>
  {% else %}
    {{ govukSummaryList({
      classes: 'govuk-summary-list--no-border',
      rows: [
        { key: { text: "Name" }, value: { text: probationPractitioner.name } },
        { key: { text: "grade" }, value: { text: probationPractitioner.grade } },
        { key: { text: "currentPercentage" }, value: { text: probationPractitioner.currentPercentage } },
        { key: { text: "remainingPoints" }, value: { text: probationPractitioner.remainingPoints } },
        { key: { text: "noOfCases" }, value: { text: probationPractitioner.noOfCases } },
        { key: { text: "lastAllocated" }, value: { text: probationPractitioner.lastAllocated } }
      ]
    }) }}

    {% set currentCases_tableHeadings = [
      { key: 'name', text: 'SU Name', attributes: { "aria-sort": "none" } },
      { key: 'crn', text: 'CRN', attributes: { "aria-sort": "none" } },
      { key: 'postcode', text: 'Postcode', attributes: { "aria-sort": "none" } },
      { key: 'tier', text: 'Indicative tier', attributes: { "aria-sort": "none" } },
      { key: 'allocationDate', text: 'Allocation date', attributes: { "aria-sort": "ascending" } },
      { key: 'previousOM', text: 'Previous OM', attributes: { "aria-sort": "none" } }
    ] %}

    {% set currentCases_tableRows = [] %}
    {% for case in currentServiceUsers %}
      {% set previousProbationPractitioner = '' %}
      {% for probationPractitioner in probationPractitioners %}
        {% if probationPractitioner.id == case.previousOM %}
          {% set previousProbationPractitioner = probationPractitioner %}
        {% endif %}
      {% endfor %}
      {% set tableRow=[] %}
      {% for heading in currentCases_tableHeadings %}
        {% if heading.key == 'previousOM' %}
          {% if previousProbationPractitioner %}
            {% set tableRow = (tableRow.push({ html: '<a href="/allocations/0/practitioner/'+previousProbationPractitioner.id+'">'+previousProbationPractitioner.name+'</a>' }), tableRow) %}
          {% else %}
            {% set tableRow = (tableRow.push({ text: '' }), tableRow) %}
          {% endif %}
        {% elseif heading.key == 'name' %}
          {% set tableRow = (tableRow.push({ html: '<a href="/allocations/0/service-user/'+case.crn+'">'+case.name+'</a>' }), tableRow) %}
        {% elseif heading.key == 'tier' %}
          {% set tableRow = (tableRow.push({ text: case.template.tier }), tableRow) %}
        {% elseif heading.key == 'allocationDate' %}
          {% set tableRow = (tableRow.push({ text: case.dates.sentenceStart }), tableRow) %}
        {% else %}
          {% set tableRow = (tableRow.push({ text: case[heading.key] }), tableRow) %}
        {% endif %}
      {% endfor %}
      {% set currentCases_tableRows = (currentCases_tableRows.push(tableRow), currentCases_tableRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">Current cases</H2>
    {{ govukTable({
      head: currentCases_tableHeadings,
      rows: currentCases_tableRows
    }) }}

    {% set previousCases_tableHeadings = [
      { key: 'name', text: 'SU Name', attributes: { "aria-sort": "none" } },
      { key: 'crn', text: 'CRN', attributes: { "aria-sort": "none" } },
      { key: 'postcode', text: 'Postcode', attributes: { "aria-sort": "none" } },
      { key: 'tier', text: 'Indicative tier', attributes: { "aria-sort": "none" } },
      { key: 'allocationDate', text: 'Allocation date', attributes: { "aria-sort": "ascending" } },
      { key: 'currentOM', text: 'Current OM', attributes: { "aria-sort": "none" } }
    ] %}

    {% set previousCases_tableRows = [] %}
    {% for case in previousServiceUsers %}
      {% set currentProbationPractitioner = '' %}
      {% for probationPractitioner in probationPractitioners %}
        {% if probationPractitioner.id == case.currentOM %}
          {% set currentProbationPractitioner = probationPractitioner %}
        {% endif %}
      {% endfor %}
      {% set tableRow=[] %}
      {% for heading in previousCases_tableHeadings %}
        {% if heading.key == 'currentOM' %}
          {% if currentProbationPractitioner %}
            {% set tableRow = (tableRow.push({ html: '<a href="/allocations/0/practitioner/'+currentProbationPractitioner.id+'">'+currentProbationPractitioner.name+'</a>' }), tableRow) %}
          {% else %}
            {% set tableRow = (tableRow.push({ text: '' }), tableRow) %}
          {% endif %}
        {% elseif heading.key == 'name' %}
          {% set tableRow = (tableRow.push({ html: '<a href="/allocations/0/service-user/'+case.crn+'">'+case.name+'</a>' }), tableRow) %}
        {% elseif heading.key == 'tier' %}
          {% set tableRow = (tableRow.push({ text: case.template.tier }), tableRow) %}
        {% elseif heading.key == 'allocationDate' %}
          {% set tableRow = (tableRow.push({ text: case.dates.sentenceStart }), tableRow) %}
        {% else %}
          {% set tableRow = (tableRow.push({ text: case[heading.key] }), tableRow) %}
        {% endif %}
      {% endfor %}
      {% set previousCases_tableRows = (previousCases_tableRows.push(tableRow), previousCases_tableRows) %}
    {% endfor %}
    <h2 class="govuk-heading-l">Previous cases</H2>
    {{ govukTable({
      head: previousCases_tableHeadings,
      rows: previousCases_tableRows
    }) }}
  {% endif %}
{% endblock %}
{% block scripts %}
  {{ super() }}
  <script>
    var mojFrontendSortableTable = $('table')
    new MOJFrontend.SortableTable({
      table: mojFrontendSortableTable[0]
    });
    new MOJFrontend.SortableTable({
      table: mojFrontendSortableTable[1]
    });
  </script>
{% endblock %}