{% extends "layout_workforce.html" %}


{% block pageTitle %}
Dashboard
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">All regions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Kent Surrey Sussex</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Kent Surrey Sussex</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Southampton Team 1</h1>  
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#">Overview</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#-cases">Current cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#-cases-old">Historic cases</a>
        </li>
      </ul>
    </nav><p class="govuk-body-s govuk-!-margin-bottom-2">Last updated: Today at 9:00am</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Caseload totals</h2>

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-quarter">
    <div class="card card-total">
      <a href="" class="govuk-link--no-visited-state"><span class="card__heading">128</span>
      <p>community cases</p></a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="card card-total">
      <a href="" class="govuk-link--no-visited-state"><span class="card__heading">341</span>
      <p>licence cases</p></a>
    </div>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <div class="card card-total">
      <a href="" class="govuk-link--no-visited-state"><span class="card__heading">299</span>
      <p>custody cases</p></a>
    </div>
  </div>

</div>

    <!--<div class="workforce-progress-container">
      <div class="workforce-progress-bar" style="width:98%"><p>98%<span style="visibility: hidden;">capacity</span></p></div>
    </div>-->
    
    <!--<details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          View as points
        </span>
      </summary>
       <dl>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Points available
          </dt>
          <dd class="govuk-summary-list__value">
            2176
          </dd>
        </div><div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Points used
          </dt>
          <dd class="govuk-summary-list__value">
            2093
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Points remaining
          </dt>
          <dd class="govuk-summary-list__value">
            83
          </dd>
        </div>
      </dl>
    </details>-->
    
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" style="max-width: 727px;">

    <table class="govuk-table" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Hours free</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Cases</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="officer-view">Faraz Haynes</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">42</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Margaret Dawson</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">-6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">50</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Aman Crawford</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">38</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Elin Neale</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">-8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">24</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Donald Daniels</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">21</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Teigan Kaye</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">39</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Alan Paine</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Senior Probation Officer</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">0</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Molly O'Sullivan</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">-33</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">51</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Hamid Rivas</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">22</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">37</td>
      </tr>
      </tbody>
    </table> 

  </div>
</div>
{% endblock %}