{% extends "layout_workforce.html" %}


{% block pageTitle %}
Southampton Team 1 | Overview | Workforce planning
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs ">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">All regions</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="#">Kent Surrey Sussex</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">Kent Surrey Sussex</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Southampton Team 1</h1>  
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation">

      <ul class="moj-sub-navigation__list">
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" aria-current="page" href="#">Overview</a>
        </li>
        
        <!-- <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#-cases">Current cases</a>
        </li>
        <li class="moj-sub-navigation__item">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state" href="#-cases-old">Historic cases</a>
        </li>-->
      </ul>
    </nav>
    <p class="govuk-!-margin-bottom-2">Last updated: Today at 9:00am</p>
  </div>
</div>

<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">

    <h2 class="govuk-heading-l">Caseload totals</h2>
    <h3 class="govuk-heading-m">Jan 01 to Jan 29</h3>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">128</span>
          <p>community cases</p></a>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">341</span>
          <p>licence cases</p></a>
        </div>
      </div>

      <div class="govuk-grid-column-one-quarter">
        <div class="card card-total">
          <a href="" class="govuk-link--no-visited-state"><span class="card__heading">299</span>
          <p>custody cases</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

    <h2 class="govuk-heading-l">Current workload</h2>
    <h3 class="govuk-heading-m">Offender Managers</h3>

    <table class="govuk-table govuk-table-xl" data-module="moj-sortable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Grade</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Capacity</th>
          <th scope="col" class="govuk-table__header" aria-sort="none">Hours free</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none">Cases</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="officer-view">Faraz Haynes</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">95%</td>
        <td class="govuk-table__cell">4</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">42</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="officer-view-alt">Margaret Dawson</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">110%</td>
        <td class="govuk-table__cell">-6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">50</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Aman Crawford</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">105%</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">38</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Elin Neale</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">105%</td>
        <td class="govuk-table__cell">-8</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">24</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Donald Daniels</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Service Officer</td>
        <td class="govuk-table__cell">90%</td>
        <td class="govuk-table__cell">12</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">21</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Teigan Kaye</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">95%</td>
        <td class="govuk-table__cell">6</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">39</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Alan Paine</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Senior Probation Officer</td>
        <td class="govuk-table__cell">0%</td>
        <td class="govuk-table__cell">0</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">0</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Molly O'Sullivan</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell"><span style="color: #d4351c;">130%</span></td>
        <td class="govuk-table__cell">-33</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">51</td>
      </tr>

      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="#">Hamid Rivas</a></td>
        <td class="govuk-table__cell" data-sort-value="6961">Probation Officer</td>
        <td class="govuk-table__cell">85%</td>
        <td class="govuk-table__cell">22</td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="1897">37</td>
      </tr>
      </tbody>
    </table> 

  </div>
</div>
{% endblock %}