{% extends "layout.html" %}

{% block pageTitle %}
  {{ serviceName }} Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Manage a Sentence</h1>
      
      <h2 class="govuk-heading-l">Allocations</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/allocations/0/new-allocations">Prototype v0 (November 2020)</a>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      {% set prototypeInstructionsSummaryHTML %}
        Using the GOV.UK Prototype Kit {{releaseVersion}}
      {% endset %}
      {% set prototypeInstructionsHTML %}
        <p>
          This kit lets you rapidly create HTML prototypes of GOV.UK services.
        </p>

        <p>
          It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
        </p>

        <h2 class="govuk-heading-m">About this page</h2>

        <p>We recommend you add links to your prototype to this page, rather than delete it.
          You'll find this page in the kit at '/app/views/index.html'.</p>

        <p>You can change the service name by editing the file '/app/config.js'.</p>

        <h2 class="govuk-heading-m">Examples and documentation</h2>

        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
          </li>
          <li>
            <a href="https://design-system.service.gov.uk">GOV.UK Design System</a>
          </li>
        </ul>
      {% endset -%}
      {{ govukDetails({
        summaryHtml: prototypeInstructionsSummaryHTML,
        html: prototypeInstructionsHTML
      }) }}
      {{releaseVersion | log }}
    </div>
  </div>

{% endblock %}
