{% extends "layout_workforce_index.html" %}

{% block pageTitle %}
  {{ serviceName }} Prototype
{% endblock %}

{% block content %}

  <div class="govuk-grid-row govuk-body">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">Prototypes</h1>
      <h2 class="govuk-heading-l">Workforce</h2>
      <ul class="govuk-list">
        <li>
          <p>MVP dashboard overview, and detail view of member of staff<br>
          <a class="govuk-link" href="/v1/dashboard">Prototype v1 (January 2021)</a></p>
        </li>
      </ul>

      
      <h2 class="govuk-heading-l">Allocations</h2>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="/allocations/0/new-allocations">Prototype v0 (November 2020)</a>
        </li>
      </ul>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
  </div>

{% endblock %}
